<section>
    <div class="container">

        <div class="row d-flex justify-content-center">

            {{#each products}}
            <div class="col-md-3 m-2 procard">
                <div class="card" style="width: 18rem;">
                    <div class="image-fav-container">

                        <label class="fav-container tag">
                            <input type="checkbox">
                            <i class="fa fa-heart-o fav-icon"></i>
                        </label>

                        <a href="/product/{{this._id}}">
                            <img src="images/product-images/{{this._id}}.jpg" class="card-img-top p-3" alt="...">
                        </a>

                    </div>
                    <div class="card-body">
                        <h5 class="card-title">{{this.title}}</h5>
                        <h5 class="card-title"><small>₹</small> <strong>{{this.price}}</strong></h5>
                        <p class="card-text">{{this.description}}</p>
                        <button onclick="addToCart('{{this._id}}')" class="btn btn-primary">Add to cart</button>
                    </div>
                </div>
            </div>
            {{/each}}


        </div>
    </div>
</section>


<style>
    .image-fav-container {
        position: relative;
    }

    .tag {
        opacity: 0;
        float: right;
        position: absolute;
        left: 0px;
        top: 0px;
        z-index: 1000;
        border-left: 1px solid rgb(179, 177, 177);
        border-bottom: 1px solid rgb(179, 177, 177);
        border-bottom-left-radius: 5px;
        padding: 5px;
        color: #000000;
        font-weight: bold;
    }

    .card:hover .tag {
        opacity: 1;
        transition: .75s;
    }

    .fav-container {
        position: relative;
    }

    .fav-container input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }

    .fav-icon {
        font-size: 18px;
    }

    .fa-heart-o {
        color: red;
    }

    .fav-icon-checked {
        color: red;
    }

    .fav-container input:checked~.fav-icon {
        color: red;
    }
</style>

<script>
    
</script>