<section>

    <div class="m-0 pt-5 pb-3" style="width: 100%; height: auto; background-color: #37ace7;">
        <div class="container">
            <div class="row">

            <div class="col">
                <h1 class="font-weight-bold d-inline p-2 pt-3 pr-3 text-dark" style="font-size: 70px;background-color: #fff;">
                    &nbsp; Super Cars</h1>
                <h4 class="d-inline-block py-1 px-2 mt-3 mb-2 text-light" style="font-size: 40px;background-color: rgb(14, 13, 13);">&nbsp;&nbsp;&nbsp;&nbsp;now @ your</h4>
                <h1 class="d-inline-block p-1 my-2" style="font-size: 70px;color: rgb(146, 0, 0);background-color: #fff;">&nbsp; Fingertips.</h1>
            </div>
            <div class="col">
                <img src="/images/cullinan2.png" alt="" style="margin-bottom: 0px; width: 500px;">
            </div>
            </div>
        </div>
    </div>

    <div class="container">

        <div class="row d-flex justify-content-center">

            {{#each products}}
            <div class="col-md-3 m-2 procard">
                <div class="card" style="width: 18rem;">
                    <div class="image-fav-container">

                        <label class="fav-container tag">
                            <input type="checkbox">
                            <i class="fa fa-heart-o fav-icon"></i>
                        </label>

                        <a href="/product/{{this._id}}">
                            <img src="images/product-images/{{this._id}}.jpg" class="card-img-top p-3" alt="...">
                        </a>

                    </div>
                    <div class="card-body">
                        <h5 class="card-title">{{this.title}}</h5>
                        <h5 class="card-title"><small>₹</small> <strong>{{this.price}}</strong></h5>
                        <p class="card-text">{{this.description}}</p>
                        <button onclick="addToCart('{{this._id}}')" class="btn btn-primary">Add to cart</button>
                    </div>
                </div>
            </div>
            {{/each}}


        </div>
    </div>
</section>


<style>
    .image-fav-container {
        position: relative;
    }

    .tag {
        opacity: 0;
        float: right;
        position: absolute;
        left: 0px;
        top: 0px;
        z-index: 1000;
        border-left: 1px solid rgb(179, 177, 177);
        border-bottom: 1px solid rgb(179, 177, 177);
        border-bottom-left-radius: 5px;
        padding: 5px;
        color: #000000;
        font-weight: bold;
    }

    .card:hover .tag {
        opacity: 1;
        transition: .75s;
    }

    .fav-container {
        position: relative;
    }

    .fav-container input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }

    .fav-icon {
        font-size: 18px;
    }

    .fa-heart-o {
        color: red;
    }

    .fav-icon-checked {
        color: red;
    }

    .fav-container input:checked~.fav-icon {
        color: red;
    }
</style>

<script>

</script>